.datesCard {
    flex: 1 100%;
}

.datesCard-wrapper {
    background-color: var(--color-darkest);
    border-radius: calc(var(--border-radius-primary)/2);
    padding: 0;
    margin: calc(var(--margin-primary)/3);
}

.datesCard-content {
    display: flex;
    flex-direction: column;
    gap: 30px ;
    margin-right: -30px;
}

.datesCard-title {
    position: relative;
    font-size: 20px;
    margin-right: 20px;
}

.datesCard-title::after {
    content: "";
    position: absolute;
    top: 40px;
    right: 0;
    height: 2px;
    width: 10%;
    background-color: var(--color-primary);
}

.datesCard p {
    font-size: 20px;
    margin-right: 20px;
}
.datesCard-content span{
    color: var(--color-primary);
}
@media (max-width: 991px) {
    .datesCard p {
        font-size: large;
    }
}

@media (max-width: 767px) {
    .datesCard p {
        font-size: smaller;
    }
    .datesCard h4 {
        margin-top: 20px;
    }
}